  <launch>
     <include file="$(find gazebo_ros)/launch/empty_world.launch">
    	<arg name="debug" value="false" />
    	<arg name="paused" value="false"/>
    	<arg name="use_sim_time" value="true"/> 
      <arg name="world_name" value="$(find sparky_swarm)/worlds/swarm.world"/>   
  </include>
 </launch>