
<launch>
    <param name="/use_sim_time" value="true"/>
    <arg name="map_file" value="/home/navid/sparky/src/sparky_navigation_stack/maps/swarm.yaml"/>
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)" respawn="true">
        <param name="frame_id" value="map"/>
    </node> 
    

    <include file="$(find sparky_swarm)/launch/empty_world.launch"/>

   

    <node pkg="sparky_swarm" type="swarmRobots.py" name="swarmRobots" output="screen" >
    </node>
  

    

</launch>